fastapi>=0.111.0
uvicorn[standard]>=0.30.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
SQLAlchemy>=2.0.31
psycopg[binary]>=3.2.1
python-dotenv>=1.0.1
pandas>=2.2.2
numpy>=1.26.4
pytest>=8.2.2
httpx>=0.27.0
python-dateutil>=2.9.0.post0
Faker>=25.9.1
scikit-learn>=1.5.1
shap>=0.45.1
pyarrow>=16.1.0
tabulate>=0.9.0
joblib>=1.4.2
scipy>=1.13.1
